<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Chat Rooms</title>
    </head>
    <body>
        Hi {{ user.username }}! <br />
        <div>
            <b>You have {{userdb.chat_rooms.count}} rooms:</b>
            <ul>
                {% for room in userdb.chat_rooms.all %}
                <li><a href="{% url 'room_endpoint' room.id %}">{{room.room_name}}</a></li>
                {%endfor %}
            </ul>
        </div>
        <p><a href="{% url 'logout' %}">Logout</a></p>
        What chat room would you like to enter?<br />
        <form method="POST" action="{% url 'index' %}">
            {% csrf_token %}
            <input id="room-name-input" type="text" size="100" name="new_room_name" /><br />
            <input id="room-name-submit" type="submit" />
        </form>
        <script>
            document.querySelector("#room-name-input").focus();
            document.querySelector("#room-name-input").onkeyup = function (e) {
                if (e.keyCode === 13) {
                    // enter, return
                    document.querySelector("#room-name-submit").click();
                }
            };
        </script>
    </body>
</html>
