{% extends 'base_template.html' %} {% block 'body' %}{% load static %}

<form method="POST" action="{% url 'logout' %}" class="form-signin">
    {% csrf_token %}
    <img class="mb-4" src="{% static 'images/chat-bubble.png' %}" alt="" width="72" height="72" />
    <h1 class="h3 mb-3 font-weight-normal">You have {{userdb.chat_rooms.count}} rooms:</h1>
    <ul>
        {% for room in userdb.chat_rooms.all %}
        <li>
            <a href="{% url 'room_endpoint' room.id %}"
                ><div class="alert alert-primary mt-3" role="alert">{{room.room_name}}</div></a
            >
        </li>
        {%endfor %}
    </ul>
    <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Logout</button>
</form>
<form method="POST" action="{% url 'index' %}" class="form-signin">
    {% csrf_token %}
    <label for="create-chat-room" class="sr-only">Create new chat room?</label>
    <input
        type="text"
        name="new_room_name"
        id="create-chat-room"
        class="form-control"
        placeholder="New room name"
        required
        autofocus
    />
    <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Create</button>
</form>
{%endblock%}
