{% extends 'base_template.html' %} {% block 'body' %}{% load static %}

<div id="frame">
    <div id="sidepanel">
        <div id="profile">
            <div class="wrap-room-icon">
                <img id="profile-img" src="{% static 'images/chat-bubble.png' %}" class="online" alt="" />
                <p>{{room.room_name}}</p>
            </div>
        </div>
        <div id="search">
            <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
            <input type="text" placeholder="Search contacts..." />
        </div>
        <div id="contacts">
            <ul>
                {% for user in room_users.all %}
                <li class="contact">
                    <div class="wrap">
                        <span class="contact-status online"></span>
                        <i class="fa fa-user fa-2x" id="chat-user-icon-{{user.id}}"></i>
                        <div class="meta">
                            <p class="name">{{user.username}}</p>
                        </div>
                    </div>
                </li>
                {% endfor %} {% for user in not_invited_users.all %}
                <li class="contact">
                    <div class="wrap" onclick="addUser({{user.id}})">
                        <i class="fa fa-user-plus fa-lg" aria-hidden="true"></i>
                        <div class="meta">
                            <p class="name">{{user.username}}</p>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <form method="POST" action="{% url 'invite_user_endpoint' room.id %}" id="user_invite_form">
                {% csrf_token %}
                <input type="hidden" id="invited_user_id" name="invited_user_id" value="" />
            </form>
        </div>
        <div id="bottom-bar">
            <button id="addcontact" onclick="window.location.href='{% url 'logout' %}'">
                <i class="fa fa-sign-out-alt fa-lg" aria-hidden="true"></i>
                <span>Logout</span>
            </button>
            <button onclick="window.location.href='{% url 'index' %}'">
                <i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i>
                <span>Back</span>
            </button>
        </div>
    </div>
    <div class="content">
        <div class="contact-profile">
            <i class="fa fa-user fa-2x" id="current-user-icon"></i>
            <p>{{user.username}}</p>
        </div>
        <div id="message-scroll" class="messages">
            <ul id="for-inserting-message"></ul>
        </div>
        <div class="message-input">
            <div class="wrap">
                <input type="text" id="chat-message-input" placeholder="Write your message..." />
                <button id="chat-message-submit" class="submit">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    const roomName = "{{ room.id }}";
    const curentUserName = "{{user.username}}";
    const curentUserId = {{user.id}};
    let current_user_color = false;
    const chatSocket = new WebSocket("ws://" + window.location.host + "/ws/chat/" + roomName + "/");
    const objDiv = document.getElementById("message-scroll");

    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        document.getElementById("for-inserting-message").innerHTML += createUserMessageHtml(data);
        if (!current_user_color && data.user_id == curentUserId) {
            current_user_color = true;
            document.getElementById("current-user-icon").style.color = data.color;
        }
        document.getElementById(`chat-user-icon-${data.user_id}`).style.color = data.color;
        objDiv.scrollTop = objDiv.scrollHeight;
    };

    chatSocket.onclose = function (e) {
        windows.location.host = "/chat";
        console.error("Chat socket closed unexpectedly");
    };

    document.querySelector("#chat-message-input").focus();
    document.querySelector("#chat-message-input").onkeyup = function (e) {
        if (e.keyCode === 13) {
            document.querySelector("#chat-message-submit").click();
        }
    };

    document.querySelector("#chat-message-submit").onclick = function (e) {
        const messageInputDom = document.querySelector("#chat-message-input");
        const message = messageInputDom.value;
        chatSocket.send(
            JSON.stringify({
                message: message,
            })
        );
        messageInputDom.value = "";
    };
    function makeIconCode(color) {
        return `<i class="fa fa-user fa-lg" style="color: ${color}"></i>`;
    }
    function createUserMessageHtml({ message, color, user }) {
        return `<li class="${user == curentUserName ? "replies" : "sent"}">
            ${makeIconCode(color)}
            <p>${message}</p>
        </li>`;
    }
    function addUser(userId) {
        document.getElementById("invited_user_id").value = userId;
        document.getElementById("user_invite_form").submit();
    }
</script>
{% endblock %}
