{% extends 'base_template.html' %} {% block 'body' %} {% load static %}
<form method="post" class="form-signin">
    {% csrf_token %}
    <img class="mb-4" src="{% static 'images/chat-bubble.png' %}" alt="" width="72" height="72" />
    <h1 class="h3 mb-3 font-weight-normal">{{user_name}}</h1>
    <label for="input-password" class="sr-only">Password</label>
    <input
        type="password"
        name="password"
        id="input-password"
        class="form-control"
        placeholder="Password"
        required
        autofocus
    />
    <input type="hidden" name="user_name" value="{{user_name}}" />
    <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Sign in</button>
    {%if login_error%}
    <div class="alert alert-danger mt-3" role="alert">Invalid password</div>
    {%endif%}
    <p class="mt-5 mb-3 text-muted">2021</p>
</form>
{%endblock%}
