{% extends 'base_template.html' %} {% block 'body' %}{% load static %}
<form method="post" action="{% url 'registration_endpoint' %}" class="form-signin">
    {% csrf_token %}
    <img class="mb-4" src="{% static 'images/chat-bubble.png' %}" alt="" width="72" height="72" />
    <h1 class="h3 mb-3 font-weight-normal">Registration</h1>
    <label for="user-name" class="sr-only">User name</label>
    <input
        type="text"
        name="user_name"
        value="{{user_name}}"
        id="user-name"
        class="form-control"
        placeholder="User name"
        required
    />
    <label for="input-password" class="sr-only">Password</label>
    <input
        type="password"
        name="password"
        id="input-password"
        class="form-control"
        placeholder="Create your password"
        required
        autofocus
    />
    <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Create and Login</button>
    <p class="mt-5 mb-3 text-muted">2021</p>
</form>
{%endblock%}
