{% extends 'base_template.html' %} {% block 'body' %} {% load static %}
<form method="post" action="{%url 'login_endpoint'%}" class="form-signin">
    {% csrf_token %}
    <img class="mb-4" src="{% static 'images/chat-bubble.png' %}" alt="" width="72" height="72" />
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="user-name" class="sr-only">User name</label>
    <input
        type="text"
        name="user_name"
        id="user-name"
        class="form-control"
        placeholder="User name"
        required
        autofocus
    />
    <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Next</button>
    <p class="mt-5 mb-3 text-muted">2021</p>
</form>
{%endblock%}
